In [1]:
import pandas as pd

##  任务一  企业收入的多样性
### 一个企业的产业收入多样性可以仿照信息熵的概念来定义收入熵指标
#### 其中 
p(xi) 是企业该年某产业收入额占该年所有产业总收入的比重。在company.csv中存有需要计算的企业和年份，在company_data.csv中存有企业、各类收入额和收入年份的信息。现请利用后一张表中的数据，在前一张表中增加一列表示该公司该年份的收入熵指标I

In [4]:
data1=pd.read_csv("./task01/company.csv")
data2=pd.read_csv("./task01/company_data.csv")

In [5]:
data1.head()

      证券代码    日期
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015

In [6]:
data2.head()

   证券代码          日期  收入类型           收入额
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10
3     1  2008/12/31     4  1.063843e+09
4     1  2008/12/31     5  8.513880e+08

In [7]:
data2.证券代码

0              1
1              1
2              1
3              1
4              1
           ...
964017    900957
964018    900957
964019    900957
964020    900957
964021    900957
Name: 证券代码, Length: 964022, dtype: int64

In [25]:
data2.证券代码.value_counts()

2024      989
600117    924
2109      909
600351    892
43        883
         ...
603323     10
600919     10
2807       10
600001     10
200041      6
Name: 证券代码, Length: 3172, dtype: int64

In [31]:
n=data2.证券代码.values

### 在company_data.csv中存有企业、各类收入额和收入年份的信息，计算某一种收入的指标熵
### 将公司的证券代码补齐和data1一样，然后，计算各个公司的收入类型所占的收入比例

#### 在这里可以看到，表2中的数据有四种，一种是证券代码，这里可以理解为公司的代码，日期，收入类型、收入额，这里应该是每一行数据都是一个公司某种收入的数据，一个公司又多种收入，所以，一个公司可以有多条数据，这些数据共同构成一个公司的收入

In [20]:
data2.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964022 entries, 0 to 964021
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   证券代码    964022 non-null  int64
 1   日期      964022 non-null  object
 2   收入类型    964022 non-null  int64
 3   收入额     940887 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 29.4+ MB

### 任务二  组队学习信息表的变换
请把组队学习的队伍信息表变换为如下形态，其中“是否队长”一列取1表示队长，否则为0

In [34]:
data3=pd.read_excel("组队信息汇总表（Pandas）.xlsx")

In [35]:
data3.head()

,所在群,队伍名称,队长编号,队长_群昵称,队员1 编号,队员_群昵称,队员2 编号,队员_群昵称.1,队员3 编号,队员_群昵称.2,...,队员6 编号,队员_群昵称.5,队员7 编号,队员_群昵称.6,队员8 编号,队员_群昵称.7,队员9 编号,队员_群昵称.8,队员10编号,队员_群昵称.9
0,Pandas数据分析,你说的都对队,5,山枫叶纷飞,6,蔡,7.0,安慕希,8.0,信仰,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pandas数据分析,熊猫人,175,鱼呲呲,44,Heaven,37.0,吕青,50.0,余柳成荫,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,Pandas数据分析,中国移不动,107,Y's,124,🥕,75.0,Vito,146.0,张小五,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Pandas数据分析,panda,11,太下真君,35,柚子,108.0,My,42.0,星星点灯,...,157.0,Zys,158.0,不器,102.0,嘉平佑染,NaN,NaN,NaN,NaN
4,Pandas数据分析,一路向北,13,黄元帅,15,化,16.0,未期,18.0,太陽光下,...,23.0,🚀,169.0,听风,189.0,Cappuccino,NaN,NaN,NaN,NaN

#### 对于这一个任务的处理是先将原始数据集中的所在群列删除，然后根据队伍名称将表格数据重新排列，让数据按照那个队伍名称排列好；然后再处理队长的问题，将所对应的队长编号转换为1，队员编号转换为0

In [40]:
data3.drop('所在群', axis=1, inplace=True)

In [44]:
data3.sort_values(by="队伍名称")

,队伍名称,队长编号,队长_群昵称,队员1 编号,队员_群昵称,队员2 编号,队员_群昵称.1,队员3 编号,队员_群昵称.2,队员4 编号,...,队员6 编号,队员_群昵称.5,队员7 编号,队员_群昵称.6,队员8 编号,队员_群昵称.7,队员9 编号,队员_群昵称.8,队员10编号,队员_群昵称.9
17,Attention！keep干饭,21,阿芒Aris,152,Alex,95.0,Jie,104.0,梦想家,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Kung Fu Pandas,180,星,167,swordsman,32.0,陈易男,161.0,zzx,110.0,...,111.0,#Paletteboo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Null,103,Co,137,Z.,69.0,Albert,76.0,北方,86.0,...,85.0,慕明智,133.0,小菜鸡,NaN,NaN,NaN,NaN,NaN,NaN
6,Why—贰肆,48,Cliff,81,ww,147.0,小清新,47.0,哈桑的雨天,125.0,...,119.0,可口可乐与果粒橙,92.0,一代天骄,139.0,xg,1.0,MoXQian,NaN,NaN
15,joyful,9,AI,106,moon,87.0,快乐的貔貅,12.0,双手,66.0,...,10.0,天国之影,170.0,WinqiHe,17.0,王婷-TeneT,NaN,NaN,NaN,NaN
3,panda,11,太下真君,35,柚子,108.0,My,42.0,星星点灯,45.0,...,157.0,Zys,158.0,不器,102.0,嘉平佑染,NaN,NaN,NaN,NaN
14,pandas gogogo,27,daydayup,183,郝翊 Eva,182.0,辣白菜,138.0,时代的病人,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,pandas从入门到精通,3,苏limin,74,carlos,56.0,maybe,156.0,glow,40.0,...,136.0,lun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,一路向北,13,黄元帅,15,化,16.0,未期,18.0,太陽光下,19.0,...,23.0,🚀,169.0,听风,189.0,Cappuccino,NaN,NaN,NaN,NaN
19,七星联盟,14,卡鲁鼙欧！,140,Radio,105.0,减肥的卡比兽,118.0,好奇宝宝,63.0,...,112.0,rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,不急不躁我最棒✌️,2,Lyndsey,90,Roman.,91.0,李松泽 Orwell,115.0,L.,163.0,...,62.0,佬仔,30.0,JWJ,154.0,👀,NaN,NaN,NaN,NaN
2,中国移不动,107,Y's,124,🥕,75.0,Vito,146.0,张小五,186.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,你说的都对队,5,山枫叶纷飞,6,蔡,7.0,安慕希,8.0,信仰,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,师承潘大师队,33,Tango,49,拿铁,100.0,懵懂出茅庐,52.0,Esther,109.0,...,38.0,栗子,162.0,落叶,150.0,小浣熊,159.0,遇安,NaN,NaN
20,应如是,54,思无邪,58,Justzer0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,扫地僧,181,阿煜,31,Bartender,70.0,林木木,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,没想好叫什么队,4,王瑞楠,64,17,73.0,叶,46.0,山茶,177.0,...,24.0,清风,153.0,小闹,78.0,罐罐儿,117.0,xxxxxxl,NaN,NaN
1,熊猫人,175,鱼呲呲,44,Heaven,37.0,吕青,50.0,余柳成荫,82.0,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
9,翻滚吧，熊猫,96,夏洛克,168,嘿,98.0,Gocara,83.0,鉹,113.0,...,93.0,Lance,34.0,☁️,NaN,NaN,NaN,NaN,NaN,NaN
5,西部战车,149,老狼,51,Robin or Michael,72.0,慕安春临,160.0,哦豁,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,鲲鲲玩Python,26,木南居士,187,冻草莓,61.0,Shawn,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
data3=data3.rename(columns={'队长_群昵称': '昵称'})

In [48]:
data3.head()

,队伍名称,队长编号,昵称,队员1 编号,队员_群昵称,队员2 编号,队员_群昵称.1,队员3 编号,队员_群昵称.2,队员4 编号,...,队员6 编号,队员_群昵称.5,队员7 编号,队员_群昵称.6,队员8 编号,队员_群昵称.7,队员9 编号,队员_群昵称.8,队员10编号,队员_群昵称.9
0,你说的都对队,5,山枫叶纷飞,6,蔡,7.0,安慕希,8.0,信仰,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,熊猫人,175,鱼呲呲,44,Heaven,37.0,吕青,50.0,余柳成荫,82.0,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,中国移不动,107,Y's,124,🥕,75.0,Vito,146.0,张小五,186.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,panda,11,太下真君,35,柚子,108.0,My,42.0,星星点灯,45.0,...,157.0,Zys,158.0,不器,102.0,嘉平佑染,NaN,NaN,NaN,NaN
4,一路向北,13,黄元帅,15,化,16.0,未期,18.0,太陽光下,19.0,...,23.0,🚀,169.0,听风,189.0,Cappuccino,NaN,NaN,NaN,NaN

In [55]:
data3.队员_群昵称

0                   蔡
1               Heaven
2                    🥕
3                   柚子
4                    化
5     Robin or Michael
6                   ww
7                   拿铁
8            Bartender
9                    嘿
10           swordsman
11              Roman.
12                  17
13                 冻草莓
14              郝翊 Eva
15                moon
16              carlos
17                Alex
18                  Z.
19               Radio
20            Justzer0
Name: 队员_群昵称, dtype: object

### 任务三 美国大选投票情况
#### 两张数据表中分别给出了美国各县（county）的人口数以及大选的投票情况，请解决以下问题：

- 有多少县满足总投票数超过县人口数的一半
- 把州（state）作为行索引，把投票候选人作为列名，列名的顺序按照候选人在全美的总票数由高到低排序，行列对应的元素为该候选人在该州获得的总票数

In [37]:
data4=pd.read_csv("./task03/county_population.csv")
data5=pd.read_csv("./task03/president_county_candidate.csv")

In [38]:
data4.head()

                  US County  Population
0  .Autauga County, Alabama       55869
1  .Baldwin County, Alabama      223234
2  .Barbour County, Alabama       24686
3     .Bibb County, Alabama       22394
4   .Blount County, Alabama       57826

In [39]:
data5.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True